<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
		<section name="Business.Configuration" type="Business.ConfigurationSectionHandler, BI.CellDataUsageMonitor.Client.Business"/>
	</configSections>
	<NUnit>
		<TestRunner>
			<!-- Valid values are STA,MTA. Others ignored. -->
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
	<Business.Configuration>
		<CoreConnectionString>connstring</CoreConnectionString>
		<ArchiveConnectionString>connstring2</ArchiveConnectionString>
		<ConnectionTimeout>600</ConnectionTimeout>
		<IsTracing>false</IsTracing>
		<StoragePath>test\trace\</StoragePath>
	</Business.Configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
</configuration>