USE [master]
GO
/****** Object:  Database [BICaseMgmtARC]    Script Date: 11/03/2011 13:40:34 ******/
CREATE DATABASE [BICaseMgmtARC] ON  PRIMARY 
( NAME = N'BICaseMgmtARC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\BICaseMgmtARC.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BICaseMgmtARC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\BICaseMgmtARC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BICaseMgmtARC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BICaseMgmtARC]
GO
/****** Object:  Table [dbo].[event_type]    Script Date: 11/03/2011 13:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[event_type](
	[event_code] [int] NOT NULL,
	[sAlert_Type] [varchar](250) NOT NULL,
	[sAlert_Description] [varchar](500) NULL,
	[short_description] [varchar](100) NULL,
	[client_notify_message] [varchar](100) NULL,
	[bDisplay_UI] [bit] NOT NULL,
	[can_client_notify] [bit] NULL,
	[is_client_notify] [bit] NULL,
	[has_second_notify] [bit] NULL,
	[has_client_acknowledge] [bit] NULL,
	[expiration_window] [int] NULL,
	[control_category] [varchar](100) NULL,
	[acronym] [varchar](5) NULL,
	[applies_to_device] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblAlert_Type] PRIMARY KEY CLUSTERED 
(
	[event_code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_tblAlert_type] UNIQUE NONCLUSTERED 
(
	[event_code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
