USE [BICaseMgmtARC]
GO
/****** Object:  Table [dbo].[event_type]    Script Date: 10/27/2011 13:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[event_type]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[event_type](
	[event_code] [int] NOT NULL,
	[sAlert_Type] [varchar](250) NOT NULL,
	[sAlert_Description] [varchar](500) NULL,
	[short_description] [varchar](100) NULL,
	[client_notify_message] [varchar](100) NULL,
	[bDisplay_UI] [bit] NOT NULL,
	[can_client_notify] [bit] NULL,
	[is_client_notify] [bit] NULL,
	[has_second_notify] [bit] NULL,
	[has_client_acknowledge] [bit] NULL,
	[expiration_window] [int] NULL,
	[control_category] [varchar](100) NULL,
	[acronym] [varchar](5) NULL,
	[applies_to_device] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblAlert_Type] PRIMARY KEY CLUSTERED 
(
	[event_code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_tblAlert_type] UNIQUE NONCLUSTERED 
(
	[event_code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[event_type] ([event_code], [sAlert_Type], [sAlert_Description], [short_description], [client_notify_message], [bDisplay_UI], [can_client_notify], [is_client_notify], [has_second_notify], [has_client_acknowledge], [expiration_window], [control_category], [acronym], [applies_to_device]) VALUES (0, N'Unknown Error', N'Unknown Error', N'', N'', 0, 0, 0, 0, 0, 0, N'99:Uncategorized Alerts', N'UKN', N' ')
INSERT [dbo].[event_type] ([event_code], [sAlert_Type], [sAlert_Description], [short_description], [client_notify_message], [bDisplay_UI], [can_client_notify], [is_client_notify], [has_second_notify], [has_client_acknowledge], [expiration_window], [control_category], [acronym], [applies_to_device]) VALUES (1, N'Receiver Restart', N'Receiver Restart', N'', N'', 1, 0, 0, 0, 0, 0, N'31:Base Station Alerts', N'RST', N' ')
INSERT [dbo].[event_type] ([event_code], [sAlert_Type], [sAlert_Description], [short_description], [client_notify_message], [bDisplay_UI], [can_client_notify], [is_client_notify], [has_second_notify], [has_client_acknowledge], [expiration_window], [control_category], [acronym], [applies_to_device]) VALUES (2, N'Callback', N'Callback', N'', N'', 1, 0, 0, 0, 0, 0, N'99:Uncategorized Alerts', N'HEL', N' ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
