<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Business.Configuration" type="Business.ConfigurationSectionHandler, BI.CellDataUsageMonitor.Client.Business"/>
	</configSections>
	<Business.Configuration>
		<CoreConnectionString>Data Source=BLDRSWORKS01;Initial Catalog=IPLP;Integrated Security=SSPI;Persist Security Info=False</CoreConnectionString>
		<ArchiveConnectionString>Data Source=172.16.100.77;Initial Catalog=BICaseMgmtARC;uid=report;pwd=report1</ArchiveConnectionString>
		<ConnectionTimeout>600</ConnectionTimeout>
		<IsTracing>true</IsTracing>
		<StoragePath>d:\datausage\trace\</StoragePath>
	</Business.Configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
</configuration>